.ayushi {
            display: flex;
            text-align: center;
            background-color: rgb(163, 247, 247);
            border: 3px solid pink;
            flex-direction: row;
            justify-content: center;
        }
.box{ 
      padding: 10px 10px;
      background-color: white;
      border-radius: 5px;
      margin: 10px;
      box-shadow: 0px 5px 5px;
    } 
.price {
         color:green;
         font-weight:bold;    /*bold text*/
         margin-bottom:15px;    /*space below price*/
        }
.button { background-color: rgb(15, 107, 212);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    margin: 20px auto 0 auto;
    }