body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
}
.container {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 2px ;
    padding: 10px;
}
.box {
    background-color: blue;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 5px;

}
.box1{
    background-color:blue;
}
.box2{
    background-color:purple;
}
.box3{
    background-color:yellow;
}
.box4{
    background-color:orange;
}
.box5{
    background-color:green;
}