body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}
.ayushi {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {text-align: center;
    padding: 20px;
color: #333;
}

.ayushi {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.box {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
}

.box:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgb(0, 0, 0,1);

}

.box img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;

}
.box h3{
    margin: 15px 0 10px;
    font-size: 20px;
}

.box p{
    font-size: 14px;
    color: #666;
}
.price{
    font-size: 18px;
    color: green;
    font-weight: bold;
    margin: 10px 0;
}
.button{
    display: inline-block;
    padding: 10px 15px;
    margin-top: 10px;
    background: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}
.button:hover{ 
    background: grey;
}

@media (max-width: 600px){
    .box img{
        height:150px;
    }
    .box h3{
        font-size: 16px;
    }
    .box p{
        font-size: 12px;
    }
}

/* tablet view */
@media (min-width: 601px)
and (max-width: 1024px) {
    .box img {
        height: 180px;
    }
    .box h3{
        font-size: 18px;
    }
}