body{
        font-family:"georgia";
    }
.container{
    border: 2px solid black;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: row;
    gap: 48px;
    padding: 40px;
    margin: 20px;
}
.card{
    background-color: white;
    width: 220px;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba 0, 0, 0,0.5;
    border: 3px solid#007bff;
}
.circle{
    background-color:#007bff;
    color: white;
    font-weight: bold;
    font-size: 20px;
    width: 70px;
    border-radius: 50%;
    height: 70px;
    line-height: 70px;
    margin: 0 auto 15px;
    }
    h3{
        margin-bottom:5px ;
    }
    p{
        margin: 5px 0;
        font-size: 14px;
    }