/* General styling */
body{
    font-family:'Courier New', Courier, monospace;
}


/* Block example */
.block-menu a {
    display: block;
    background-color: rgb(81, 81, 209);
    color: white;
    padding: 10px;
    margin: 5px ;
    text-decoration: none;
}
/* inline example */
.inline-menu a {
    display:inline;
    background-color: pink;
    color: white;
    padding: 5px;
    margin: 5px;
    text-decoration: none;
}
/* Inline-Block Example */
.inline-block-menu a{
    display:inline-block;
    background-color: purple;
    color: white;
    padding: 10px;
    margin: 5px;
    text-decoration: none;
}
/* Float Example */
.float-menu a{
    float: left;
    background-color: orange;
    color: white;
    padding: 10px;
    margin: 5px;
    text-decoration: none;
}

.clear {
    clear: both;
}